FIREBASE_WEB_API_KEY=replace-me
FIREBASE_WEB_APP_ID=replace-me
FIREBASE_ANDROID_API_KEY=replace-me
FIREBASE_ANDROID_APP_ID=replace-me
FIREBASE_IOS_API_KEY=replace-me
FIREBASE_IOS_APP_ID=replace-me
FIREBASE_MACOS_API_KEY=replace-me
FIREBASE_MACOS_APP_ID=replace-me
FIREBASE_MESSAGING_SENDER_ID=replace-me
FIREBASE_PROJECT_ID=replace-me
FIREBASE_AUTH_DOMAIN=replace-me
FIREBASE_STORAGE_BUCKET=replace-me
FIREBASE_IOS_BUNDLE_ID=replace-me
FIREBASE_MACOS_BUNDLE_ID=replace-me